@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk Chrome, Safari, dan Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Untuk IE, Edge, dan Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
  font-size: 14px; 
}

@media (min-width: 768px) {
  html {
    font-size: 16px; 
  }
}