@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk Chrome, Safari, dan Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Untuk IE, Edge, dan Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}